$primary-color: red;
$primary-color1:blue; 
$primary-color2:pink;  
$primary-color3:white;
$padding1: 15px; 
$padding1: 35px;


 
/*.container-fluid{ 
    padding: $padding1;
}  */ 

.row{ 
    padding: $padding2; 
    
    
}
 
.col-sm-12{  
    text-align: center;  
    color: $primary-color; 
    font-size: 15px 5px;
}

















